nav {
  background-color: #452b21;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
  top:0;
  left:0;
  color: #fffffC;
  width:100%;
  z-index: 1000;
}
.nav-links{
  display: flex;
  list-style-type: none;
  margin:0;
  padding:0 50px;
}
.nav-links li{
  margin-left: 10px;
  padding: 10px;
}
.logo {
  font-weight:bold;
  /* font-family: 'Avro', 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;  */
}
.nav-link{
  color: #fffffC;
  /* font-family:'Avro', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif */
}

.nav-link.active {
  color: #ff7f11;
}
