nav {
  background-color: #452b21;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
  top:0;
  left:0;
  color: #fffffC;
  width:100%;
  z-index: 1000;
}
.nav-links{
  display: flex;
  list-style-type: none;
  margin:0;
  padding:0 50px;
}
.nav-links li{
  margin-left: 10px;
  padding: 10px;
}
.logo {
  font-weight:bold;
  /* font-family: 'Avro', 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;  */
}
.nav-link{
  color: #fffffC;
  /* font-family:'Avro', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif */
}
@media screen and (max-width: 768px) {
  .nav-links {
      padding: 0 20px; /* Reduce padding on smaller screens */
      width: 100%; /* Adjust width to be full width on smaller screens */
      flex-wrap: wrap; /* Allow items to wrap if space is limited */
  }
}

/* Adjust for mobile devices */
@media screen and (max-width: 480px) {
  .nav-links {
      flex-direction: column; /* Stack the items vertically */
      padding: 0 10px; /* Further reduce padding */
  }
}
.nav-link.active {
  color: #ff7f11;
}
